.env
node_modules
dist/
uploads/
yarn-error.log/
vendor/
tmp/
dist/
.idea
tmp-resolvers
package-lock.json
flow-typed
yarn.lock
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db
data/*
terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfvars
*.tfstate*
*.tfplan
.terraform.lock.hcl
docker
.DS_Store
src/images