.env
node_modules
dist/
uploads/
yarn-error.log/
vendor/
tmp/
dist/
.DS_Store
.idea
tmp-resolvers
package-lock.json
flow-typed
yarn.lock
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
.next
.vscode/
.nuxt
dev.db
data/*